html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #dbba41; 
}

a {
  color: #7f4f87;
}

a:hover {
  color: #7f4f87;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
    background: #DBBA41;
	/*opacity: 0.3;*/
}
@media screen and (min-width: 790px) {
    .section-12{
        background-image: url('../img/PROFYELLOW.png');
        background-size:540px;
        background-repeat:no-repeat;
        background-position: right;
    }
}

.section-2 {
	background-color: #BA9F3F;
    overflow-x:auto;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #DBBA41;
	padding: 0.2rem;
}

.section-5 {
    background-color: #e8ecf2;
}
.seperation{
border-right: thick double black;
}

.caption{
    display:block;
    text-align:center;
}
.row {
    width: 100%;
    float:left;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y:hidden;
    padding-top:20px;
    
}

.column {
    float: left !important;
    width: 26%;
    padding:2em;
    flex: 0 0 auto;
    /* Hide columns by default */
}

.row-proj{
    width: 100%;
    float:left;
}
.column-proj {
    float: left !important;
    width: 50% !important;
    height: 100%;
    padding:2em;
    display:table-cell;
    /* Hide columns by default */
}

.icon-column{
    float: left !important;
    width: 10% !important;
    height:100%;
}


a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.arrow-icon{
    max-wdith:2em !important;
    text-align: center;
    padding:150px 0;
    
   /** height:2em !important; **/
}
.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 200px !important;
	max-width: 256px;
}
.project-figure-big {
    margin: 0 auto 1rem auto;
    display:block;
}
.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
